{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div class="card" id="new_post">
    {% if user.is_authenticated %}
    <div class="card-body my-card">
        Add New Post
            <textarea class="mt-2 form-control" id="add-text" rows="3"></textarea>
            <div class="mt-2 d-flex justify-content-end">
                <button type="button" id="add-btn" class="btn btn-success">Post</button>
            </div>
    </div>
    {% endif %}
</div>

{% include "network/allpost.html" %}

{% endblock %}
