{% extends "layout.html" %}
{% load static %}
{% block body %}
<section style="background-color: #eee;">
    <div class="card">
        <div class="card-header" >
            <div class="d-flex ">
                <div class="w-50 d-flex justify-content-start">
                    Add Expense
                </div>
                <div class="w-50 d-flex justify-content-end">
                    <button type="button" class="btn text-bg-primary">Save</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="mb-3 row mt-3">
                <label class="col-sm-2 col-form-label">Amount {{currency}}(SGD)</label>
                <div class="col-sm-10">
                    <input type="" class="form-control" placeholder="Enter expense here">
                </div>
            </div>
            <div class="mb-3 row mt-3">
                <label for="" class="col-sm-2 col-form-label">Category</label>
                <div class="col-sm-10">
                    
                    <select class="form-select" aria-label="Default select example">
                        <option selected >Select Category</option>
                        {% comment %} TODO: show categories dropdown {% endcomment %}
                        <option value="numbers"></option>
                    </select>
                </div>
            </div>
            <div class="mb-3 row mt-3">
                <label for="" class="col-sm-2 col-form-label">Notes</label>
                <div class="col-sm-10">
                  <input type="" class="form-control" placeholder="Add notes here ">
                </div>
            </div>
            <div class="mb-3 row mt-3">
                <label for="" class="col-sm-2 col-form-label">Date </label>
                <div class="col-sm-10">
                    
                    <select class="form-select" aria-label="Default select example">
                        <option selected >Today</option>
                        {% comment %} TODO: {% for i in range(28) %} {% endcomment %}
                        <option value="numbers"></option>
                        {% comment %} {% endfor %} {% endcomment %}
                    </select>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}